.stroke-text{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #09067C;
  animation: slide 19s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hero-hol{
  transition: 0.5s ease-in;
}
.slick-slide{
  margin: 0 1em !important;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
